<% if notice.present? %>
 <%= render partial: 'notice' %>
<% end %>

<div class="float-md-right">
 <%= link_to 'Nova Mensagem', new_mensagem_path, class: "btn btn-primary" %>
</div>

<h1>Mural de Mensagens</h1>

<% if @mensagens.empty? %>
 <p>Nenhuma mensagem encontrada.</p>
<% else %>
 <% @mensagens.each do |mensagem| %>
  <div class="card">
  <div class="card-header">
    <h5><%= mensagem.titulo %></h5>
  </div>
  <div class="card-body">
    <%= mensagem.corpo %>
  </div>
  <div class="card-footer">
  <div class="btn-group">
    <%= link_to 'Detalhar', mensagem, class: 'btn btn-secondary btn-sm ml-1' %>
    <%= link_to 'Editar', edit_mensagem_path(mensagem), class:'btn btn-secondary btn-sm ml-1' %>
    <%= link_to 'Excluir', mensagem, method: :delete, data:{ confirm: 'Tem certeza?' }, class: 'btn btn-secondary btn-sm ml-1' %>
  </div>
  <div class="float-md-right">
  <small>Enviada por <%= mail_to mensagem.email, mensagem.autor %> em <%=mensagem.created_at.strftime("%d/%m/%Y") %></small>
  </div>
  </div>
 </div>
 <% end %>
<% end %>
<br>
